:root{
    --color-letras:#FFFFFF;
    --tipo-letras:"Source Sans Pro";
    --red-color:#FF6565;
    --color-letras-negro:#071629;
}


@font-face {
    font-family: 'holberton_school-icon';
    src:  url('fonts/holberton_school-icon.eot?sq4eq4');
    src:  url('fonts/holberton_school-icon.eot?sq4eq4#iefix') format('embedded-opentype'),
      url('fonts/holberton_school-icon.ttf?sq4eq4') format('truetype'),
      url('fonts/holberton_school-icon.woff?sq4eq4') format('woff'),
      url('fonts/holberton_school-icon.svg?sq4eq4#holberton_school-icon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--tipo-letras);
    text-decoration: none;

}
body{
    width: 100%;
    min-width: 356px;

}





header{
    background:url("images/headphones_hero_1.jpg")center/cover;
    width:100%;
    height:700px;
}

.options {
    display:flex;
    padding: 15px;
    padding-top: 5vh;
}
.navicon div{
    width:24px;
    height:24px;
    margin-top: 4px;
    background-image:url("images/menu_black.svg");
}

.headerLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:100%;
}

.imgLogo{
    width:161px;
    height:31px;
}

.navbarMenu{
    display:none;
}

.navbarMenu  ul{
    list-style: none;
    
}

.navbarMenu ul li{
    padding:10px;
}
.navbarMenu  ul li a{
    text-decoration: none;
    color:var(--color-letras);
    font-size:20px;
}

.navbarMenu ul li a:hover{
    color:red;
}

.menuBtn{
    display:none;
}

.menuBtn:checked ~ .navbarMenu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuBtn:checked ~ .navicon div{
    background-image:url("images/menu_black.svg");
}

.container{
    margin-top:30vh;
    text-align: center;
    color: var(--color-letras); 

}
.container .p1{
    margin:10px 2%;

    font-size:32px;
}

.container .p2{
    font-size:16px;
}

.button{
    background-color:#FF6565;
    margin-top:35px;
    margin-bottom: 15px;
    height:44px;
    width:160px;
    border-radius: 100px;
    border:0;
    color: var(--color-letras);
    font-size:14px;
    cursor:pointer;

}

.container .p3{
    font-size:16px;
    margin:10px 2%;
    margin-top:45px;
   
}

@media (min-width:600px) {

    .headerLogo {
        align-items: left;
        justify-content: left;
        margin-left:5vw;
    
    }

    .navbarMenu li{
        display:inline-block;
        }
    
    .navicon div{
        display:none;
    }
    .navbarMenu{
        display:flex;
        align-items: right;
        justify-content: right;
        margin-right:5vw;
        margin-top:-55px;
    }

    .container .p1{
        margin:10px 5%;
    }
    .container .p3{
        margin:10px 5%;
    }
}

@media (min-width:768px) {

.container .p1{
    margin:10px 25%;
}
.container .p3{
    margin:10px 25%;
}

.navicon div{
        display:none;
}
.navbarMenu{
        display:flex;
        align-items: right;
        justify-content: right;
        margin-right:12vw;
        margin-top:-55px;
}

.navbarMenu li{
    display:inline-block;
}


.headerLogo {
        align-items: left;
        justify-content: left;
        margin-left:12vw;
    }
}
/* ----------------------------------------- Punto2-----------------------------------------------
--------------------------------------------------------------------------------------------------*/

[class^="icons-"]{
    font-family: 'holberton_school-icon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 100px;
    color: var(--red-color);
}

.WhatWeDo{
    height:100%;
}

.WhatWeDo p{
    color: var(--color-letras-negro);
    text-align: center;
    margin:15vh 5%;
}


.iconsWhatWeDo{
    display:grid;
    grid-template-columns:1fr;
    margin:10px  10vw;
}

.divIcons{
    text-align:center;
}

.divIcons p{
    color: var(--color-letras-negro);
    margin-top:68px;
    font-size:14px;
    margin:68px 25%;
}


.icons-sound:before{
    content: "\e90e";
}
.icons-video:before{
    content: "\e910";
}
.icons-music:before{
    content: "\e90d";
}
.icons-listen:before{
    content: "\e909";
}

@media (min-width:600px) {
    .iconsWhatWeDo{
        display:grid;
        grid-template-columns:1fr 1fr;
        margin:10px  10vw;
    }
}


@media (min-width:768px) {
    .iconsWhatWeDo{
        display:grid;
        grid-template-columns:1fr 1fr 1fr 1fr;
        margin:10px  10vw;
    }

    
    .WhatWeDo p{
        margin:15vh 25%;
    }

}

/* ------------------------------------- punto3 --------------------------------------------
--------------------------------------------------------------------------------------------*/





#Our-results_{
    background:url("images/headphones_hero_2.jpg");
    background-size: cover;
}

.text{
    color: var(--color-letras);
    text-align: center;
    padding:15vh 5%;
}
.test{
    display:flex;
    justify-content:center;
    margin:10px  10vw;
}

.iconsResults{
    display:grid;
    grid-template-columns:1fr;
    align-content: space-around;
    margin:10px  10vw;
}

.divIconsResults{
    background:url("images/pentagone.png");
    width: 190px;
    height: 190px;
    display: flex;
    flex-direction:column;
    background-size: 100%;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    margin-bottom:59px;
}

.divIconsResults .result1{
    color:var(--color-letras);
    font-size:46px;
}

.divIconsResults .result2{
    color: var(--color-letras);
    font-size:14px;
    margin-top:20px;
}

@media (min-width:600px) {
    .iconsResults{
        display:grid;
        grid-template-columns:1fr 1fr;
        grid-column-gap: 50px;
    }
}


@media (min-width:768px) {

    .text{
        color: var(--color-letras);
        text-align: center;
        padding:15vh 25%;
    }

    .iconsResults{
        display:grid;
        grid-template-columns:repeat(4, 1fr);
        grid-column-gap: 50px;
    
    }
}


/*--------------------------------punto 4----------------------------------------------
----------------------------------------------------------------------------------------*/

.contactUs{
    width:100%;
    text-align: center;
}

.contactUs h1{
    text-align: center;
    color: var(--color-letras-negro);
    margin-top:30px;
    font-size:36px;
    align-items: center;
}

.form{
    width: 340px;
    margin: 50px auto;
}

.optionsContact h4{
    margin-top:20px;
    margin-bottom: 10px;
    text-align:left;
    font-size: 20px;
}

.optionsContact input,
.optionsContact textarea{
    background-color: #fbfbfb;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--red-color) ;
    width:340px;
    height:45px;

}


.optionsContact input::placeholder,
.optionsContact textarea::placeholder{
    color:var(--color-letras-negro);
    font-size: 15px;
    padding-left:10px;
}

.contactUs .button{
    margin-top:-10px;
}


